{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": false
  },
  "overrides": [
    {
      "files": "tests/**/*.ts",
      "env": {
        "node": true,
        "jest": true
      }
    }
  ],
  "ignorePatterns": [
    "*.config.js",
    "lib/**/*.js",
    "lib/*.d.ts"
  ]
}