.cio-question-cta-button {
  margin: 1rem auto;
  background: hsl(0, 0%, 25%);
  border: 0;
  padding: 0.625rem;
  color: white;
  width: 100%;
  cursor: pointer;
  max-width: 18rem;
}

.cio-question-cta-button.disabled {
  background-color: #656464;
  cursor: auto;
}
