.cio-result-card {
  background-color: transparent;
  height: auto;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  flex-basis: 29.9%;
  margin-bottom: 1rem;
}

.cio-result-card-text {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 .735rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.cio-result-card-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .cio-result-card { 
    flex-basis: 100%;
    margin-bottom: 3rem;
  }
}
