.docs-story > div:first-child {
  min-height: 500px;
  background-color: #212425;
}

#storybook-root {
  min-height: 100dvh;
  height: 100dvh;
}

.small-container-example-wrapper {
  height: 100%;
  display: grid;
  align-content: center;
  background-color: #F8F8F8;
}

.small-container-example {
  height: 600px;
  width: 70%;
  margin: auto auto;
}

.cio-container {
  width: 100% !important;
}

.cio-question-content {
  width: 100% !important;
}

.cio-question-image {
  height: unset !important;
}

.cio-result-card {
  width: 400px !important;
  margin-top: 100px !important;
}

.cio-result-card-image {
  width: 100% !important;
}

.cio-result-card-image img {
  width: 100% !important;
  object-fit: cover !important;
}