.docs-story > div:first-child {
  min-height: 500px;
  background-color: #212425;
}

#storybook-root {
  min-height: 100dvh;
  height: 100dvh;
}

.small-container-example-wrapper {
  height: 100%;
  display: grid;
  align-content: center;
  background-color: #F8F8F8;
}

.small-container-example {
  height: 600px;
  width: 70%;
  margin: auto auto;
}

.cio-quiz .results-example-wrapper .cio-result-card {
  width: 100%;
  margin-top: 20px;
}

.cio-quiz .results-example-wrapper .cio-result-card:only-child {
  margin-top: 100px;
}

/* Desktop */
@container quiz (min-width: 768px) {
  .cio-quiz .results-example-wrapper .cio-result-card {
    width: 400px;
    margin-top: 20px;
  }
}

.cio-quiz .results-example-wrapper .cio-result-card-image {
  width: 100%;
}

.cio-quiz .results-example-wrapper .cio-result-card-image img {
  width: 100%;
  object-fit: cover;
}
