.select-question-container {
  max-width: 1200px;
  margin: auto;
}

.select-question-container .question-options-container {
  flex-wrap: wrap;
}

.question-option-container {
  margin-bottom: 0.5rem;
}

.open-text-question-left {
  background-color: rgb(251 244 238);
  align-items: center;
  justify-content: center;
  padding: 10% 15%;

}

.question-input-text {
  padding: 8px;
}