/* This file is for CSS rules that apply to our example. They will be removed before we ship the library */
/* This file is not being imported right now. I'm not deleting it just in case we need it as a reference for Storybook stories */

.cio-select-question-container {
  max-width: 1200px;
  margin: auto;
}

.cio-select-question-container .cio-question-options-container {
  flex-wrap: wrap;
}

.cio-question-option-container {
  margin-bottom: 0;
}

.cio-open-text-question-form,
.cio-open-text-question-image {
  box-sizing: border-box;
  width: 50%;
}

.cio-open-text-question-form {
  background-color: rgb(251 244 238);
  padding: 10% 10%;
}

.cio-question-input-text {
  padding: 8px;
}
