/* Default styles */
.cio-select-question-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cio-open-text-question-container {
  display: flex;
  justify-content: center;
}

.cio-open-text-question-form {
  display: flex;
  flex-direction: column;
}

.cio-question-title {
  text-align: center;
}

.cio-question-options-container {
  display: flex;
  justify-content: space-between;
}

.cio-question-option-container {
  display: flex;
  flex-direction: column;
  margin: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}

.cio-question-option-container.selected {
  border: 1px solid #6b7280;
}

.cio-question-option-image {
  height: 320px;
  width: 320px;
}

.cio-question-option-value {
  text-align: center;
}

.cio-question-cta-button {
  margin: 1rem auto;
  background: hsl(0, 0%, 25%);
  border: 0;
  padding: 10px;
  color: white;
  width: 100%;
  cursor: pointer;
}

.cio-question-cta-button.disabled {
  background-color: gray;
  cursor: auto;
}

.cio-question-input-text-container {
  display: flex;
  flex-direction: column;
}

.cio-question-input-text {
  width: 100%;
  box-sizing: border-box;
}

.cio-cover-question-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.cio-cover-question-img {
  width: 100%;
  height: 100%;
}

.cio-cover-question-img .cio-question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cio-cover-question-text {
  position: absolute;
  background-color: rgb(251 244 238);
  padding: 20px;
  margin-left: 20px;
  max-width: 400px;
}

.cio-result-card {
  background-color: transparent !important;
  max-width: 300px !important;
  flex: 1 0 calc(33% - 36px);
height: auto;
min-width: 280px;
margin: 18px;
box-sizing: border-box;
text-decoration: none;
}

.cio-result-card-text {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 6px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.cio-result-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cio-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cio-result-card-cta-btn {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 0px;
  color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

.cio-result-card-cta-btn:hover {
  box-shadow: 0 0 10px lightgray;
  cursor: pointer;
}

.cio-hero-card {
  display:flex;
  flex-direction: row;
  margin: 18px;
}

.cio-hero-card-contents {
  display: flex;
  flex-direction: column;
}

.cio-hero-cta-btn {
  margin-top: auto;
}

.cio-hero-card-facet-pills {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.cio-hero-card-facet-pill {
  border: solid 1px black;
  margin-right: 1em;
  padding: 2px 4px;
}
