.select-question-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.open-text-question-container {
  display: flex;
  justify-content: center;
}

.open-text-question-left,
.open-text-question-right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.question-title {
  text-align: center;
}

.question-options-container {
  display: flex;
  justify-content: space-between;
}

.question-option-container {
  display: flex;
  flex-direction: column;
  margin: 1px;
  border: 1px solid transparent;
}

.question-option-container.selected {
  border: 1px solid #6b7280;
}

.question-option-image {
  height: 320px;
  width: 320px;
}

.question-option-value {
  text-align: center;
}

.question-cta-button {
  margin: 1rem auto;
}

.question-input-text-container {
  display: flex;
  flex-direction: column;
}

.question-input-text {
  width: 100%;
  box-sizing: border-box;
}