/* Default styles */
.cio-select-question-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cio-open-text-question-container {
  display: flex;
  justify-content: center;
}

.cio-open-text-question-form {
  display: flex;
  flex-direction: column;
}

.cio-question-title {
  text-align: center;
}

.cio-question-options-container {
  display: flex;
  justify-content: space-between;
}

.cio-question-option-container {
  display: flex;
  flex-direction: column;
  margin: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}

.cio-question-option-container.selected {
  border: 1px solid #6b7280;
}

.cio-question-option-image {
  height: 320px;
  width: 320px;
}

.cio-question-option-value {
  text-align: center;
}

.cio-question-cta-button {
  margin: 1rem auto;
  background: hsl(0, 0%, 25%);
  border: 0;
  padding: 10px;
  color: white;
  width: 100%;
  cursor: pointer;
}

.cio-question-cta-button.disabled {
  background-color: gray;
  cursor: auto;
}

.cio-question-input-text-container {
  display: flex;
  flex-direction: column;
}

.cio-question-input-text {
  width: 100%;
  box-sizing: border-box;
}

.cio-cover-question-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.cio-cover-question-img {
  width: 100%;
  height: 100%;
}

.cio-cover-question-img .cio-question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cio-cover-question-text {
  position: absolute;
  background-color: rgb(251 244 238);
  padding: 20px;
  margin-left: 20px;
  max-width: 400px;
}