/* Theme colors */
.cio-quiz {
  --blue-denim-100: #7590ee;
  --blue-denim-1000: #061d6e;
  --blue-denim-200: #5d7ce8;
  --blue-denim-300: #395ddb;
  --blue-denim-400: #2348ca;
  --blue-denim-500: #163ab5;
  --blue-denim-600: #0e2fa0;
  --blue-denim-700: #0b2a93;
  --blue-denim-800: #092587;
  --blue-denim-900: #07217b;
  --gray-dust-100: #92959c;
  --gray-dust-1000: #272729;
  --gray-dust-200: #74757b;
  --gray-dust-300: #606166;
  --gray-dust-400: #515356;
  --gray-dust-500: #46474a;
  --gray-dust-600: #3c3d3f;
  --gray-dust-700: #37373a;
  --gray-dust-800: #313134;
  --gray-dust-900: #2c2c2f;
  --white-ice-100: #f9fbfe;
  --white-ice-200: #ecf4fd;
  --white-ice-300: #e1eefd;
  --white-ice-400: #d3e5fb;
  --white-ice-500: #c8daee;
  --white-ice-600: #bdcde0;
  --white-ice-700: #b1bfd0;
  --white-ice-800: #97a2b0;
  --bottom-bar-height: 80px;
  --primary-color: var(--blue-denim-400);
  --container-image-small-height: 250px;
  container: quiz / inline-size;
}

/* Mobile + global styles */
.cio-quiz,
.cio-quiz * {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.cio-quiz {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: var(--gray-dust-500);
  font-size: 16px;
}

.cio-quiz button {
  cursor: pointer;
}

/* Container */
.cio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: var(--bottom-bar-height);
}
.cio-container--with-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  padding-bottom: var(--bottom-bar-height);
}

/* Content */
.cio-question-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

/* Title */
.cio-question-title {
  font-size: 2.125em;
  margin: 0;
}

/* Description */
.cio-question-description {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5rem;
}

/* Image */
.cio-question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cio-question-image-container {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  max-height: var(--container-image-small-height);
  display: flex;
}

/* Input */
.cio-question-input-text {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--blue-denim-100);
  color: var(--blue-denim-500);
  padding: 0.8rem;
  outline: none;
  font-size: 1rem;
}
.cio-question-input-text:focus {
  border-bottom: 1px solid var(--blue-denim-500);
}
.cio-question-input-text::placeholder {
  color: var(--blue-denim-100);
}

/* CTA Button Component */
.cio-question-buttons-container {
  width: 100%;
  height: var(--bottom-bar-height);
  padding: 8px 16px;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
  background-color: rgba(255, 255, 255, 0.87);
  align-items: center;
}
.cio-question-cta-button {
  background: var(--primary-color);
  color: var(--white-ice-100);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 3rem;
  font-size: 1rem;
  flex-grow: 1;
  margin-left: auto;
  width: 100%;
}
.cio-button-container {
  max-width: 10rem;
  flex-grow: 1;
  margin-left: auto;
  padding-left: 1rem;
}
.cio-question-cta-button:hover {
  background: var(--blue-denim-500);
  border: 2px solid var(--blue-denim-600);
}
.cio-question-cta-button:active {
  background: var(--blue-denim-700);
  border: 2px solid var(--blue-denim-800);
}
.cio-question-cta-button:disabled,
.cio-question-cta-button.disabled {
  background: var(--blue-denim-200);
  border: 2px solid var(--blue-denim-100);
}

/* Back Button Component */
.cio-question-back-button {
  color: var(--primary-color);
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  margin-right: 4rem;
}
.cio-question-back-button:hover {
  border: 2px solid var(--blue-denim-600);
}
.cio-question-back-button:active {
  border: 2px solid var(--blue-denim-700);
}
.cio-question-back-button svg {
  display: inline;
}

/* Cover Page Component */
.cio-cover-question-container--with-image {
  flex-direction: column-reverse;
  padding: 0;
  padding-bottom: var(--bottom-bar-height);
}

/** Select Component */
/* Options */
.cio-question-option-container {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--white-ice-700);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.15);
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.cio-question-option-container.selected {
  outline: 3px solid var(--blue-denim-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.35);
}
.cio-question-option-container-text-only.selected {
  outline: 3px solid var(--blue-denim-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.35);
}
.cio-question-option-container:hover:not(.selected) {
  outline: 1px solid var(--blue-denim-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.25);
}
.cio-question-option-container-text-only:hover:not(.selected) {
  outline: 1px solid var(--blue-denim-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.25);
}
.cio-select-question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  max-width: 1200px;
  padding: 1rem;
  margin-top: 2rem;
  min-height: calc(100% - 3rem); /* Full height - padding - margin */
  width: 100%;
}
.cio-question-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: var(--bottom-bar-height);
  margin-top: 2rem;
}
.cio-question-options-container-text-only {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 10px;
  margin-bottom: auto;
  margin-top: 2rem;
}
.cio-question-option-container-text-only {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--white-ice-700);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.15);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  cursor: pointer;
}

/* Option Image */
.cio-question-option-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 16px;
  aspect-ratio: 1/1;
}

/* Select Option Value */
.cio-question-option-value {
  text-align: center;
  margin: auto 0;
}

/* Select Text and Description */
.cio-select-question-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cio-select-question-text .cio-question-description {
  margin-bottom: 0;
}

/* Results component */
.cio-results-container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.cio-results-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--gray-dust-500);
}
.cio-results-filter-container {
  margin-bottom: 1.5rem;
}
.cio-results-filter-container p {
  color: var(--gray-dust-300);
  margin-bottom: 1.5rem;
}
.cio-results-filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: default;
}
.cio-results-filter-option {
  background-color: var(--white-ice-200);
  border: 1px solid var(--primary-color);
  color: var(--blue-denim-500);
  border-radius: 10000px;
  padding: 0.4rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}
.cio-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cio-zero-results {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
.cio-zero-results-subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--gray-dust-500);
  margin-top: 0;
}
.cio-zero-results-description {
  color: var(--gray-dust-100);
  line-height: 1.25rem;
  margin-top: 0;
}

.cio-zero-results .cio-button-container {
  width: 14rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

/* Result Card component */
.cio-result-card {
  background-color: transparent;
  height: auto;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  margin-bottom: 1.5rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.cio-result-card-anchor {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cio-result-card-image {
  width: auto;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.cio-result-card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cio-result-card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cio-result-card-title {
  color: var(--gray-dust-500);
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}
.cio-result-card-prices {
  margin-bottom: 1rem;
  font-weight: 700;
}
.cio-result-card-sale-price {
  color: #bf1728;
  margin-right: 0.75rem;
}
.cio-result-card-regular-price {
  color: var(--gray-dust-900);
}
.cio-result-card-regular-price--strike-through {
  text-decoration: line-through;
}

/* Result CTA Button */
.cio-result-card-cta-button {
  padding: 0.75rem 2.5rem;
  height: 3rem;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--white-ice-100);
  font-size: 1rem;
  width: 100%;
}
.cio-result-card-cta-button:hover {
  background: var(--blue-denim-500);
  border: 2px solid var(--blue-denim-600);
}
.cio-result-card-cta-button:active {
  background: var(--blue-denim-700);
  border: 2px solid var(--blue-denim-800);
}
.cio-result-card-cta-button:disabled,
.cio-result-card-cta-button.disabled {
  background: var(--blue-denim-200);
  border: 2px solid var(--blue-denim-100);
}

/* Redo Button Component */
.cio-question-redo-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cio-question-redo-button:hover {
  text-decoration: underline;
}
.cio-question-redo-button span {
  margin-top: 1px;
}

/* Media Queries */

/* Small Tablet */
@container quiz (min-width: 640px) {
  .cio-container {
    padding-bottom: 0;
  }

  /* Container */
  .cio-container--with-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Image */
  .cio-question-image-container {
    height: 100%;
    flex-basis: 50%;
    flex-shrink: 0;
    border-radius: 4px;
  }

  /* Cover Page Component */
  .cio-cover-question-container--with-image {
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Select Component */
  .cio-select-question-text {
    margin-top: 2rem;
  }
  .cio-select-question-buttons {
    padding: 1rem 3rem;
  }

  /* Results component */
  .cio-results-container {
    padding: 3rem 4rem;
  }
  .cio-results-filter-and-redo-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.5rem;
  }
  .cio-results-filter-container {
    margin-bottom: 0;
  }
  .cio-results {
    column-gap: 5%;
  }

  /* Result Card component */
  .cio-result-card {
    flex-basis: 30%;
  }
}

/* Big Tablet */
@container quiz (min-width: 768px) {
  /* Container */
  .cio-container {
    align-items: center;
    margin-top: 0;
  }
  .cio-container--with-image {
    padding: 6% 2%;
    align-items: center;
    flex-direction: row;
  }

  /* Input */
  .cio-question-input-text {
    margin-bottom: 1rem;
  }

  /* Image */
  .cio-question-image-container {
    max-height: 100%;
  }
  .cio-cover-question-container--with-image .cio-question-image-container {
    max-height: unset;
  }

  /* Content */
  .cio-question-content {
    justify-content: center;
    height: fit-content;
    flex-basis: 70%;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 3rem;
  }

  /* Description */
  .cio-question-description {
    margin-bottom: 2rem;
  }

  /* CTA Button Component */
  .cio-question-buttons-container {
    position: sticky;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  /* Cover Component */
  .cio-cover-question-container--with-image {
    padding: 0;
  }

  /* Select Component */
  .cio-select-question-text {
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
  }
  .cio-select-question-buttons {
    padding: 1rem 5rem;
  }
  .cio-select-question-container {
    justify-content: center;
    margin: 0;
    padding: 2rem;
    padding-bottom: 0;
  }
  .cio-question-option-container {
    width: calc(25% - 13px);
  }
  .cio-question-options-container {
    padding: 0;
    margin-bottom: 2rem;
  }
  .cio-question-options-container-text-only {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .cio-question-option-container-text-only {
    margin: 0;
    width: 30%;
  }
}

/* Desktop */
@container quiz (min-width: 1280px) {
  /* Container */
  .cio-cover-question-container--with-image {
    padding: 0;
  }

  /* Select component */
  .cio-question-option-container-text-only {
    width: 30%;
  }
  .cio-select-question-container {
    margin-bottom: 0;
  }
  .cio-select-question-text {
    padding: 2.5rem 0rem;
  }

  /* Results component */
  .cio-results-container {
    margin-top: 3rem;
  }
  .cio-zero-results {
    margin-top: 7rem;
  }
  .cio-question-content {
    padding: 5rem;
  }
}

/* Spinner Styles */
.cio-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  margin: auto;
}

.cio-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -35px;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 4px solid var(--blue-denim-200);
  border-radius: 50%;
  animation: cio-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--blue-denim-200) transparent transparent transparent;
}

.cio-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.cio-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.cio-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes cio-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
