@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Theme colors */
.cio-quiz {
  --primary-color-h: 224;
  --primary-color-s: 70%;
  --primary-color-l: 46%;
  --primary-color-variant-100: hsl(
    var(--primary-color-h),
    calc(var(--primary-color-s) + 10%),
    calc(var(--primary-color-l) + 25%)
  );
  --primary-color-variant-400: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  --primary-color-variant-500: hsl(
    var(--primary-color-h),
    calc(var(--primary-color-s) + 10%),
    calc(var(--primary-color-l) - 5%)
  );
  --primary-color-variant-600: hsl(
    var(--primary-color-h),
    calc(var(--primary-color-s) + 15%),
    calc(var(--primary-color-l) - 10%)
  );
  --primary-color-variant-700: hsl(
    var(--primary-color-h),
    calc(var(--primary-color-s) + 15%),
    calc(var(--primary-color-l) - 15%)
  );
  --primary-color-variant-800: hsl(
    var(--primary-color-h),
    calc(var(--primary-color-s) + 20%),
    calc(var(--primary-color-l) - 20%)
  );
  --primary-color: var(--primary-color-variant-400);
  --gray-dust-100: #92959c;
  --gray-dust-200: #74757b;
  --gray-dust-500: #46474a;
  --gray-dust-900: #2c2c2f;
  --bottom-bar-height: 80px;
  --container-image-small-height: 250px;
  container: quiz / inline-size;
}

/* Mobile + global styles */
.cio-quiz,
.cio-quiz * {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.cio-quiz {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  color: var(--gray-dust-500);
  font-size: 16px;
}

/* Container for the loading spinner */
.cio-quiz.cio-quiz-loading {
  display: flex;
  justify-content: center;
}

.cio-quiz button {
  cursor: pointer;
}

/* Container */
.cio-quiz .cio-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: var(--bottom-bar-height);
  width: 100%;
  position: relative;
  align-self: start;
  height: calc(100% - 2rem - var(--bottom-bar-height)); /* Full height - margin - control bar */
}
.cio-quiz .cio-container--with-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--bottom-bar-height);
  position: relative;
  align-self: start;
  height: calc(100% - var(--bottom-bar-height)); /* Full height - margin - control bar */
}

/* Background image */
.cio-quiz .cio-question-background-image {
  height: calc(100% - 4px);
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

/* Session Prompt Modal */
.cio-quiz .cio-session-prompt-modal {
  position: absolute;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}

.cio-quiz .cio-session-prompt-container {
  margin: auto;
}

.cio-quiz .cio-session-prompt-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background: #ffffff;
  line-height: 1.5;
}

.cio-quiz .cio-session-prompt-controls-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cio-quiz .cio-session-prompt-content .cio-button-container {
  margin: 0px;
  padding: 0px;
}

.cio-quiz
  .cio-session-prompt-controls-container
  .cio-button-container:nth-child(1)
  .cio-question-cta-button {
  color: var(--primary-color);
  background-color: #ffffff;
}

/* Content */
.cio-quiz .cio-question-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Title */
.cio-quiz .cio-question-title {
  font-size: 2.125em;
  margin: 0;
}

/* Description */
.cio-quiz .cio-question-description {
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5rem;
}

/* Image */
.cio-quiz .cio-question-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.cio-quiz .cio-question-image-container {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  max-height: var(--container-image-small-height);
  height: var(--container-image-small-height); /* Fixed height for layout shifts */
  display: flex;
  align-self: stretch;
  overflow: hidden;
}

/* Input */
.cio-quiz .cio-question-input-text {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--gray-dust-100);
  color: var(--primary-color-variant-500);
  padding: 0.8rem;
  outline: none;
  font-size: 1rem;
}
.cio-quiz .cio-question-input-text:focus,
.cio-quiz .cio-question-input-text:active {
  border-bottom: 1px solid var(--primary-color-variant-500);
}
.cio-quiz .cio-question-input-text::placeholder {
  color: var(--gray-dust-100);
}

/* CTA Button Component */
.cio-quiz .cio-question-buttons-container {
  width: 100%;
  height: var(--bottom-bar-height);
  padding: 8px 16px;
  display: flex;
  position: sticky;
  bottom: 0px;
  left: 0px;
  background: white;
  background-color: rgba(255, 255, 255, 0.87);
  align-items: center;
}
.cio-quiz .cio-question-buttons-group {
  width: 20rem;
  height: var(--bottom-bar-height);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.cio-quiz .cio-question-cta-button {
  background: var(--primary-color);
  color: #ffffff;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  height: 3rem;
  font-size: 1rem;
  flex-grow: 1;
  margin-left: auto;
  width: 100%;
}
.cio-quiz .cio-button-container {
  max-width: 10rem;
  flex-grow: 1;
  margin-left: auto;
  padding-left: 1rem;
}
.cio-quiz .cio-question-cta-button:hover {
  background: var(--primary-color-variant-500);
  border: 2px solid var(--primary-color-variant-600);
}
.cio-quiz .cio-question-cta-button:active {
  background: var(--primary-color-variant-700);
  border: 2px solid var(--primary-color-variant-800);
}
.cio-quiz .cio-question-cta-button:focus {
  outline: 3px solid var(--primary-color-variant-100);
}
.cio-quiz .cio-question-cta-button:disabled,
.cio-quiz .cio-question-cta-button.disabled {
  background: var(--gray-dust-200);
  border: 2px solid var(--gray-dust-200);
  cursor: auto;
  outline: none;
}
.cio-quiz .cio-question-skip-button {
  background: transparent;
  color: var(--gray-dust-500);
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  font-size: 1rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;
}
.cio-quiz .cio-question-skip-button:hover,
.cio-quiz .cio-question-skip-button:focus {
  text-decoration-color: var(--gray-dust-200);
}
.cio-quiz .cio-question-skip-button.hide {
  visibility: hidden;
  pointer-events: none;
}
/* Back Button Component */
.cio-quiz .cio-question-back-button {
  color: var(--primary-color);
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  margin-right: 4rem;
}
.cio-quiz .cio-question-back-button:hover {
  border: 2px solid var(--primary-color-variant-600);
}
.cio-quiz .cio-question-back-button:active {
  border: 2px solid var(--primary-color-variant-700);
}
.cio-quiz .cio-question-back-button:focus {
  outline: 3px solid var(--primary-color-variant-100);
}
.cio-quiz .cio-question-back-button.disabled {
  display: none;
}

.cio-quiz .cio-question-back-button svg {
  display: inline;
}

/* Cover Page Component */
.cio-quiz .cio-cover-question-container--with-image {
  padding: 0;
  padding-bottom: var(--bottom-bar-height);
}
.cio-cover-question-container--with-image .cio-question-image {
  height: auto;
}

/** Select Component */
/* Options */
.cio-quiz .cio-question-option-container {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color-variant-100);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.15);
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
}
.cio-quiz .cio-question-option-container.selected {
  outline: 3px solid var(--primary-color-variant-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.35);
}
.cio-quiz .cio-question-option-container-text-only.selected {
  outline: 3px solid var(--primary-color-variant-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.35);
}
.cio-quiz .cio-question-option-container:hover:not(.selected) {
  outline: 1px solid var(--primary-color-variant-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.25);
}
.cio-quiz .cio-question-option-container-text-only:hover:not(.selected) {
  outline: 1px solid var(--primary-color-variant-600);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.25);
}
.cio-quiz .cio-select-question-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 1rem;
  margin-top: 2rem;
  min-height: calc(100% - 2rem - var(--bottom-bar-height)); /* Full height - padding - margin */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.cio-quiz .cio-question-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: var(--bottom-bar-height);
  margin-top: 2rem;
}
.cio-quiz .cio-question-options-container-text-only {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 10px;
  margin-bottom: var(--bottom-bar-height);
  margin-top: 2rem;
}
.cio-quiz .cio-question-option-container-text-only {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color-variant-100);
  box-shadow: 0px 4px 10px rgba(93, 124, 232, 0.15);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  cursor: pointer;
  background-color: white;
}

/* Option Image */
.cio-quiz .cio-question-option-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 16px;
}

/* Select Option Value */
.cio-quiz .cio-question-option-value {
  text-align: center;
  margin: auto 0;
}

/* Select Text and Description */
.cio-quiz .cio-select-question-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cio-quiz .cio-select-question-text .cio-question-description {
  margin-bottom: 0;
}

/* Select Instructions */
.cio-quiz .cio-select-question-instructions {
  text-align: center;
  font-size: 1.125rem;
  color: var(--gray-dust-100);
  line-height: 150%;
  margin-top: 2.75rem;
  margin-bottom: -1rem;
}

/* Affixed progress bar */
.cio-quiz .cio-question-progress-affixed-container {
  position: fixed;
  top: 8px;
  right: 16px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: 0.75rem;
  padding: 8px;
  color: white;
  mix-blend-mode: difference;
}
.cio-quiz .cio-question-progress-progress-container {
  width: 100px;
  border-color: white;
  height: 6px;
  border-width: 1px;
  border-style: solid;
  background: transparent;
  border-radius: 4px;
}
.cio-quiz .cio-question-progress-progress-bar {
  background: white;
  height: 100%;
}

/* Results component */
.cio-quiz .cio-results-container {
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.cio-quiz .cio-results-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--gray-dust-500);
}
.cio-quiz .cio-results-filter-container {
  margin-bottom: 1.5rem;
}
.cio-quiz .cio-results-filter-container p {
  color: var(--gray-dust-500);
  margin-bottom: 1.5rem;
}
.cio-quiz .cio-results-filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: default;
}
.cio-quiz .cio-results-filter-option {
  background-color: #ffffff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color-variant-500);
  border-radius: 10000px;
  padding: 0.4rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}
.cio-quiz .cio-results-num-results {
  margin-top: 2.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-dust-500);
}
.cio-quiz .cio-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cio-quiz .cio-zero-results {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
.cio-quiz .cio-zero-results-subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--gray-dust-500);
  margin-top: 0;
}
.cio-quiz .cio-zero-results .cio-button-container {
  width: 14rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

/* Result Card component */
.cio-quiz .cio-result-card {
  background-color: transparent;
  height: auto;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  margin-bottom: 1.5rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.cio-quiz .cio-result-card-anchor,
.cio-quiz .cio-result-card-container {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cio-quiz .cio-result-card-image {
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.cio-quiz .cio-result-card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cio-quiz .cio-result-card-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: blue;
}
.cio-quiz .cio-result-card-title {
  color: var(--gray-dust-500);
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}
.cio-quiz .cio-result-card-prices {
  margin-bottom: 1rem;
  font-weight: 700;
}
.cio-quiz .cio-result-card-sale-price {
  color: #bf1728;
  margin-right: 0.75rem;
}
.cio-quiz .cio-result-card-regular-price {
  color: var(--gray-dust-900);
}
.cio-quiz .cio-result-card-regular-price--strike-through {
  text-decoration: line-through;
}
.cio-quiz .cio-result-card-rating {
  margin-bottom: 10px;
}
.cio-quiz .cio-result-card-rating-score {
  margin-right: 5px;
}

/* Result Favorites Button*/
.cio-quiz .cio-result-card-favorites-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 25px;
  margin-left: auto;
  margin-bottom: 1rem;
}

.cio-quiz .cio-result-card-favorites-button svg {
  fill: none;
}

.cio-quiz .cio-result-card-favorites-button:hover svg {
  fill: rgb(255, 51, 51);
  stroke: rgb(255, 51, 51);
}

.cio-quiz .cio-result-card-favorites-button.favorited svg {
  fill: rgb(255, 51, 51);
  stroke: transparent;
}

.cio-quiz .cio-result-card-favorites-button svg {
  stroke: black;
  stroke-width: 1px;
}

/* Result CTA Button */
.cio-quiz .cio-result-card-cta-button {
  padding: 0.75rem 2.5rem;
  height: 3rem;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
}
.cio-quiz .cio-result-card-cta-button:hover {
  background: var(--primary-color-variant-500);
  border: 2px solid var(--primary-color-variant-600);
}
.cio-quiz .cio-result-card-cta-button:active {
  background: var(--primary-color-variant-700);
  border: 2px solid var(--primary-color-variant-800);
}
.cio-quiz .cio-result-card-cta-button:focus {
  outline: 3px solid var(--primary-color-variant-100);
}
.cio-quiz .cio-result-card-cta-button:disabled,
.cio-quiz .cio-result-card-cta-button.disabled {
  background: var(--gray-dust-200);
  border: 2px solid var(--gray-dust-200);
}

/* Redo Button Component */
.cio-quiz .cio-question-redo-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cio-quiz .cio-question-redo-button:hover {
  text-decoration: underline;
}
.cio-quiz .cio-question-redo-button span {
  margin-top: 1px;
}

/* Share results Button Component */
.cio-quiz .cio-question-share-results-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cio-quiz .cio-question-share-results-button:hover {
  text-decoration: underline;
}
.cio-quiz .cio-question-share-results-button span {
  margin-top: 1px;
}

/* Container Queries */

/* Small Tablet */
@container quiz (min-width: 640px) {
  .cio-quiz .cio-container {
    padding-bottom: 0;
    align-self: normal;
  }

  /* Container */
  .cio-quiz .cio-container--with-image {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    align-self: normal;
  }

  /* Image Container */
  .cio-quiz .cio-question-image-container {
    flex-basis: 50%;
    flex-shrink: 0;
    border-radius: 4px;
  }

  /* Cover Page Component */
  .cio-quiz .cio-cover-question-container--with-image {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  /* Select Component */
  .cio-quiz .cio-select-question-text {
    margin-top: 2rem;
  }
  .cio-quiz .cio-select-question-buttons {
    padding: 1rem 3rem;
  }

  /* Results component */
  .cio-quiz .cio-results-container {
    padding: 3rem 4rem;
  }
  .cio-quiz .cio-results-button-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1.5rem;
  }
  .cio-quiz .cio-results-filter-container {
    margin-bottom: 0;
  }
  .cio-quiz .cio-results {
    column-gap: 5%;
  }

  /* Result Card component */
  .cio-quiz .cio-result-card {
    flex-basis: 30%;
  }
}

/* Big Tablet */
@container quiz (min-width: 768px) {
  /* Container */
  .cio-quiz .cio-container {
    align-items: center;
    margin-top: 0;
    height: calc(100% - var(--bottom-bar-height)); /* Full height - control bar */
  }
  .cio-quiz .cio-container--with-image {
    padding: 6% 2%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .cio-quiz .cio-cover-question-container--with-image {
    flex-direction: row-reverse;
  }

  /* Input */
  .cio-quiz .cio-question-input-text {
    margin-bottom: 1rem;
  }

  /* Image */
  .cio-quiz .cio-question-image-container {
    max-height: unset;
    height: unset;
  }

  /* Content */
  .cio-quiz .cio-question-content {
    justify-content: center;
    height: fit-content;
    flex-basis: 70%;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 3rem;
  }

  /* Description */
  .cio-quiz .cio-question-description {
    margin-bottom: 2rem;
  }

  /* Cover Component */
  .cio-quiz .cio-cover-question-container--with-image {
    padding: 0;
  }

  /* Select Component */
  .cio-quiz .cio-select-question-text {
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
  }
  .cio-quiz .cio-select-question-buttons {
    padding: 1rem 5rem;
  }
  .cio-quiz .cio-select-question-container {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2rem;
    padding-bottom: 0;
    min-height: calc(100% - var(--bottom-bar-height)); /* Full height - padding - margin */
  }
  .cio-quiz .cio-question-option-container {
    width: calc(25% - 13px);
  }
  .cio-quiz .cio-question-options-container {
    padding: 0;
    margin-bottom: 2rem;
  }
  .cio-quiz .cio-question-options-container-text-only {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .cio-quiz .cio-question-option-container-text-only {
    margin: 0;
    width: 30%;
  }
}

/* Desktop */
@container quiz (min-width: 1280px) {
  /* Container */
  .cio-quiz .cio-quiz .cio-cover-question-container--with-image {
    padding: 0;
  }

  /* Select component */
  .cio-quiz .cio-question-option-container-text-only {
    width: 30%;
  }
  .cio-quiz .cio-select-question-container {
    margin-bottom: 0;
  }
  .cio-quiz .cio-select-question-text {
    padding: 2.5rem 0rem;
  }

  /* Results component */
  .cio-quiz .cio-results-container {
    margin-top: 3rem;
  }
  .cio-quiz .cio-zero-results {
    margin-top: 7rem;
  }
  .cio-quiz .cio-question-content {
    padding: 5rem;
  }
}

/* Spinner Styles */
.cio-quiz .cio-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  margin: auto;
}

.cio-quiz .cio-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -35px;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  animation: cio-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}

.cio-quiz .cio-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}

.cio-quiz .cio-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}

.cio-quiz .cio-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes cio-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Share results modal */
.cio-quiz .cio-share-results-modal {
  position: absolute;
  display: flex;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}

.cio-quiz .cio-share-results-container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.cio-quiz .cio-share-results-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #ffffff;
  line-height: 1.5;
  padding: 40px;
  padding-bottom: 80px;
  border-radius: 8px;
}

.cio-quiz .cio-share-results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cio-quiz .cio-share-results-description {
  font-size: 1rem;
  font-weight: 700;
}

.cio-quiz .cio-share-results-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
}

.cio-quiz .cio-modal-close-button {
  background: none;
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cio-quiz .cio-share-results-button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cio-quiz .cio-share-results-feature-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cio-quiz .cio-results-redo-and-share-button-group {
  display: flex;
  gap: 8px;
  align-items: end;
  justify-content: space-between;
}

.cio-quiz .cio-share-results-share-button {
  background: #d3e5fb;
  color: var(--primary-color);
  border: 2px solid #d3e5fb;
  border-radius: 4px;
  height: 3rem;
  font-size: 1rem;
  flex-grow: 1;
  width: 100%;
  padding: 12px 32px;
}

.cio-quiz .cio-share-results-share-button:hover {
  background: var(--primary-color-variant-500);
  border: 2px solid var(--primary-color-variant-600);
  color: white;
}
.cio-quiz .cio-share-results-share-button:active {
  background: var(--primary-color-variant-700);
  border: 2px solid var(--primary-color-variant-800);
  color: white;
}
.cio-quiz .cio-share-results-share-button:focus {
  outline: 3px solid var(--primary-color-variant-100);
}

.cio-quiz .cio-share-results-notification {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px;
  font-weight: 500;
  border: 1px solid #c8daee;
  box-shadow: 0px 4px 10px 0px rgba(93, 124, 232, 0.15);
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cio-quiz .cio-share-results-link-input {
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #c8daee;
  color: var(--gray-dust-100);
  width: '100%';
  flex-grow: 1;
}

.cio-quiz .cio-share-results-email-input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.cio-quiz .cio-share-results-email-input-error-message {
  color: #e0182d;
}

.cio-quiz .cio-share-results-email-input {
  padding: 0.5rem;
  border: 0;
  border-bottom: 1px solid var(--gray-dust-100);
  color: var(--primary-color-variant-500);
  padding: 0.8rem;
  outline: none;
  font-size: 1rem;
  width: 100%;
  flex-grow: 1;
}

.cio-quiz .cio-share-results-email-input--error {
  border-bottom: 1px solid #e0182d;
}

@container (max-width: 500px) {
  .cio-quiz .cio-share-results-button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cio-quiz .cio-share-results-share-button {
    max-width: 100%;
  }
}

@container (min-width: 500px) {
  .cio-quiz .cio-share-results-button-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .cio-quiz .cio-share-results-share-button {
    max-width: 138px;
  }
}
