.cio-open-text-question-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cio-open-text-question-image {
  box-sizing: border-box;
  min-width: 50%;
  object-fit: cover;
}

.cio-open-text-question-form {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  max-width: 700px;
}

.cio-open-text-question-form .cio-question-cta-button {
  max-width: unset;
}

.cio-question-input-text {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .cio-open-text-question-form {
    position: absolute;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
  }
  .cio-open-text-question-image {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .cio-open-text-question-form {
    padding: 4rem;
  }
}
