.cio-open-text-question-container {
  display: flex;
  justify-content: center;
}

.cio-open-text-question-form {
  display: flex;
  flex-direction: column;
}

.cio-question-input-text {
  width: 100%;
  box-sizing: border-box;
}
